.gretting {

    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center;
    flex-direction: row-reverse;
    font-size: 60px;
    color: white;
    background-color: red;
    
}

